In [5]:
import numpy as np
import pandas as pd

sales=pd.read_csv('vgsales.csv')
sales.iloc[3]['Name']

'Wii Sports Resort'

In [6]:
sales.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [7]:
sales[sales.Rank == 9]['Name']

8    New Super Mario Bros. Wii
Name: Name, dtype: object

In [87]:
# game that is ranked second from last
# as 'Rank' column is already sorted in ascending order, we can just use iloc to find last 2nd record
sales.iloc[-2]

Rank                 16599
Name            Know How 2
Platform                DS
Year                2010.0
Genre               Puzzle
Publisher         7G//AMES
NA_Sales               0.0
EU_Sales              0.01
JP_Sales               0.0
Other_Sales            0.0
Global_Sales          0.01
Name: 16596, dtype: object

In [14]:
# store all column names in a variable called columns
columns = sales.columns
columns

Index(['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'NA_Sales',
       'EU_Sales', 'JP_Sales', 'Other_Sales', 'Global_Sales'],
      dtype='object')

In [15]:
# syntax to store the ‘Global_Sales’ column in a series called series1
series1 = pd.Series(sales['Global_Sales'])
series1

0        82.74
1        40.24
2        35.82
3        33.00
4        31.37
         ...
16593     0.01
16594     0.01
16595     0.01
16596     0.01
16597     0.01
Name: Global_Sales, Length: 16598, dtype: float64

In [89]:
# print all even indexed values of 'Global_Sales' column stored in series1  upto the 100th index
series1[0:100:2]

Names
0     82.74
2     35.82
4     31.37
6     30.01
8     28.62
10    24.76
12    23.10
14    22.00
16    21.40
18    20.61
20    18.36
22    17.28
24    16.15
26    15.32
28    14.98
30    14.64
32    14.35
34    14.03
36    13.51
38    13.10
40    12.73
42    12.21
44    11.98
46    11.89
48    11.52
50    11.18
52    10.95
54    10.77
56    10.57
58    10.49
60    10.26
62     9.88
64     9.82
66     9.72
68     9.52
70     9.32
72     9.20
74     9.02
76     8.76
78     8.49
80     8.42
82     8.24
84     8.09
86     8.05
88     7.84
90     7.72
92     7.67
94     7.60
96     7.46
98     7.37
Name: Global_Sales, dtype: float64

In [22]:
# syntax to rename the index column of series1 below to “Names”
series1 = series1.rename_axis("Names");
series1.head()

Names
0    82.74
1    40.24
2    35.82
3    33.00
4    31.37
Name: Global_Sales, dtype: float64

In [23]:
list1=[45,67]
series2=pd.Series(series1,index=list1)
series2

45    11.90
67     9.59
Name: Global_Sales, dtype: float64

In [24]:
series3=pd.Series(sales['Rank'])
print(series3[2],series3.iloc[2],series3.loc[2])

3 3 3

In [25]:
series4 = series3.add(2)
series4.iat[2] = 2
print(series4[1], series4[2])

4 2

In [26]:
combined = series3 + series4
print(series3[50], series4[50], combined[50])

51 53 104

In [27]:
# total number of unique platforms in the sales Dataframe are
platform = sales['Platform'].unique()
print("No.of unique platforms are: {}".format(len(platform)))

No.of unique platforms are: 31

In [29]:
# How many rows and columns does the sales Dataframe below
sales.shape

(16598, 11)

In [30]:
# How many rows have null values in the 'Year' column in sales datarame below?
sales['Year'].isnull().sum()

271

In [90]:
# How many not null rows exist in the ‘sales’ Dataframe after dropping rows which contain null values in them?
sales.dropna(inplace=True)
print("No.of not null rows:{}".format(sales.shape[0]))

No.of not null rows:16291

In [38]:
# total number of unique 'Take-Two Interactive' games in the sales dataframe?
idx = sales.index[sales['Publisher']== 'Take-Two Interactive']
take_two_interactive = len(idx)
print("no.of unique take two interactive games: {}".format(take_two_interactive))

no.of unique take two interactive games: 412

In [95]:
# highest selling PC game from ‘Take-Two Interactive’ in 2013
publisher = sales.loc[(sales['Publisher'] == 'Take-Two Interactive') & (sales['Year'] == 2013)]
max_index = publisher['Global_Sales'].idxmax()
high_selling_game = publisher.loc[max_index]
print("The highest selling game in 2013 is {}".format(high_selling_game['Name']))

The highest selling game in 2013 is Grand Theft Auto V

In [82]:
# Which region (NA_Sales, EU_Sales, JP_Sales, Other_Sales) contributed to the least amount of sales below
regions = ['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']
dxt = {}
for i in regions:
  key = 'sum_' + i
  dxt[key] = sales[i].sum()
total_sum =sum(dxt.values())
min_value = min(dxt.values())
for k,v in dxt.items():
   if v == min_value:
      print("The {} region has contributed to only {} % of total sales".format(k,(v/total_sum)*100))

The sum_Other_Sales region has contributed to only 8.957232001743964 % of total sales

In [84]:
# which game had the highest sales in Japan
max_index = publisher['JP_Sales'].idxmax()
high_sales_japan = publisher.loc[max_index]
print("The highest selling game in japan is {}".format(high_sales_japan['Name']))

The highest selling game in japan is Grand Theft Auto V